@layer reset, base, layout, components, utilities;
/* 土台、枠踏み、部品、上書き */

@layer reset {
  /* box-sizingをここで一括設定 */
  :where(*) {
    box-sizing: border-box;
  }

  /* 余白のリセット */
  :where(body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure) {
    margin: 0;
    padding: 0;
  }

  :where(ul, ol) {
    list-style: none;
  }

  /* 画像の突き抜け防止（追加推奨） */
  :where(img, svg, video) {
    display: block;
    max-width: 100%;
  }
}



@layer base {
  html {
    /* box-sizingはresetで完結させるなら不要 */
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%; /* モバイルでの文字サイズ自動調整防止 */
  }

@media (min-width: 768px) {
  body {
    /* padding-top: 40px;  ヘッダー50px + 余裕10px 下げる */
    background-color: #e6eae6; /* 背景色 フロスティホワイト */
  }
}

}



@layer layout {
  .wrapper {
    margin: 0;
    padding: 0;
  }

  .l-box {
    width: 100%;
    background-color: #99d8ff;
  }

}



@layer components {
  .c-card {
  max-width: 1000px;
  border: 1px solid #000000;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  }

  .youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
  }

  .youtube iframe {
  width: 100%;
  height: 100%;
}

}
